<main>

  <form method="post" action="/sessions/new">
    <label for="username-input" class="block mar-b-1">Username:</label>
    <input id="username-input" name="user[username]" type="text" placeholder="username">

  <label for="password-input" class="block mar-b-1">Password:</label>
    <input id="password-input" name="user[password]" type="password" placeholder="password">

  <input type="submit" value="Login">
  </form>

</main>
