<main>
  <ul>
    <% @deck.each do |deck| %>
      <li>
        <form method="POST" action="/games">
          <input type="submit" name="game_info[deck_id]" value="<% @game.id %>"><%= deck.name %><br>
        </form>
      </li>
    <% end %>
  </ul>
</main>