

<main>

  <form method="post" action="/users/new" class="large-5 columns">
    <label for="username-input">Username:</label>
    <input id="username-input" name="user[username]" type="text" placeholder="username">

  <label for="email-input">Email:</label>
    <input id="email-input" name="user[email]" type="text" placeholder="email">

  <label for="password-input">Password:</label>
    <input id="password-input" name="user[password]" type="password" placeholder="password">

  <input type="submit" value="Create Account" class="button">
  </form>

</main>
