<main>

  <form method="post" action="/users/new">
    <label for="username-input" class="block mar-b-1">Username:</label>
    <input id="username-input" name="user[username]" type="text" placeholder="username" tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">

  <label for="email-input" class="block mar-b-1">Email:</label>
    <input id="email-input" name="user[email]" type="text" placeholder="email" tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">

  <label for="password-input" class="block mar-b-1">Password:</label>
    <input id="password-input" name="user[password]" type="text" placeholder="password" tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">

  <input type="submit" value="Create Account" tabindex="3" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
  </form>

</main>
