<main>

  <% if @game_over %>

    <h1>Game over! Thanks for playing!</h1>

  <% else %>

    <h1>Prompt:</h1>

     <h3><%=@random_card.prompt%></h3>

    <form method="post" action="<%="/games/#{@game.id}"%>">
      <label for="answer-input">Answer:</label>
      <input id="answer-input" name="game_info[response]" type="text" placeholder="response">
      <input type="hidden" name="game_info[current_card]" value="<%=@random_card.id%>">
      <input type="submit" value="Submit">
    </form>

  <% end %>

</main>
