<main>

  <h1>Prompt</h1>

  <h3>Prompt will go here</h3>

  <form method="post" action="/games/:id">
    <label for="answer-input">Answer:</label>
    <input id="answer-input" name="response" type="text" placeholder="response">
  <input type="submit" value="Submit">
  </form>

</main>
